@font-face {
    font-family: SuperMario256;
    src: url('../fonts/SuperMario256.ttf');
}

body {
  background: url('http://www.lovethispic.com/uploaded_images/82943-Anime-Nature.gif?1');
  background-repeat: no-repeat;
  background-size: cover;
}
  
.loading-percentage {
    font-size: 60px;
    font-family: SuperMario256;
    text-align: center;
    padding: 100px;
}

.main-wrapper {
    /* height: 100vh; */
    padding: 1%;
}
  
.start-screen {
    width: 1280px;
    height: 95vh;
    margin: auto;
    border: 2px solid black;
    background: url('../images/start-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.start-btn {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background: url('../images/start-btn.png');
    position: absolute;
    bottom: 300px;
    left: 100px;
    border: 2px solid black;
}  

.back-btn {
    width: 200px;
    height: 50px;
    background: url('../images/back-btn.png');
    color: #ffffff;
    border: 2px solid black;
    margin: 10px;
    display: none;
}

.game-screen {
    width: 1280px;
    /* height: 500px; */
    border: 2px solid black;
    /* background-color: #27badb; */
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: none;
}

.btn-wrapper {
    width: 1280px;
    height: 100px;
    margin: auto;
    display: none;
}

  
.score-wrapper {
    width: 1280px;
    margin: auto;
    height: 50px;
    display: none;
    border: 2px solid black;
    /* border-bottom: none; */
    line-height: 50px;
    font-size: 20px;
    background-color: #2783da;
    font-family: SuperMario256;
    color: #ffffff;
    /* color:black; */
}
  
.life-count {
    background: url('../images/mario-head.png') left center no-repeat;
    width: 100px;
    float: left;
    padding-left: 40px;
}
  
.coin-score {
    background: url('../images/coin.png') left center no-repeat;
    width: 150px;
    float: left;
    padding-left: 40px;
}
  
.level-num {
    width: 150px;
    float: left;
}
  
.total-score {
    float: left;
}

  .cell {
    width: 31px;
    height: 31px;
    border: 1px solid blue;
  }
  
  .active {
    width: 31px;
    height: 31px;
    border: 1px solid blue;
    background: red;
    opacity: 0.5;
  }
  
.element-wrapper {
    width: 1280px;
    height: 130px;
    background: #d2d2d2;
    margin: 0 auto;
    border: 1px solid black;
    display: none;
}
  
  .platform {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') 0 0;
  }
  
  .coin-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -32px 0;
  }
  
  .power-up-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -64px 0;
  }
  
  .useless-box {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -96px 0;
  }
  
  .flag-pole {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -128px 0;
  }
  
  .flag {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -160px 0;
  }
  
  .pipe-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -192px 0;
  }
  
  .pipe-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -224px 0;
  }
  
  .pipe-top-left {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -256px 0;
  }
  
  .pipe-top-right {
    width: 31px;
    height: 31px;
    background: url('../images/elements.png') -288px 0;
  }
  
  .goomba {
    width: 31px;
    height: 31px;
    background: url('../images/enemies.png') 0 0;
  }
  
  .element-wrapper * {
    margin: 10px;
    float: left;
  }
  
  .lvl-size {
    clear: both;
    float: left;
    width: 115px;
    height: 32px;
    background: url('../images/lvl-size.png');
    margin-right: 10px;
  }
  
  .levels-wrapper {
    width: 1280px;
    height: 530px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    display: none;
    background: url('../images/bg.png');
  }  
  
  
  
  .fb-comments {
    margin: 0 auto;
  }
  