@font-face {
    font-family: SuperMario256;
    src: url('../fonts/SuperMario256.ttf');
}

body {
  background: url('http://www.lovethispic.com/uploaded_images/82943-Anime-Nature.gif?1');
  background-repeat: no-repeat;
  background-size: cover;
}
  
.loading-percentage {
    font-size: 60px;
    font-family: SuperMario256;
    text-align: center;
    padding: 100px;
}

.main-wrapper {
    /* height: 100vh; */
    padding: 1%;
}
  
.start-screen {
    width: 1280px;
    height: 95vh;
    margin: auto;
    border: 2px solid black;
    background: url('../images/start-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.start-btn {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background: url('../images/start-btn.png');
    position: absolute;
    bottom: 300px;
    left: 100px;
    border: 2px solid black;
}  

.back-btn {
    width: 200px;
    height: 50px;
    background: url('../images/back-btn.png');
    color: #ffffff;
    border: 2px solid black;
    margin: 10px;
    display: none;
}

.game-screen {
    width: 1280px;
    /* height: 500px; */
    border: 2px solid black;
    /* background-color: #27badb; */
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: none;
}

.btn-wrapper {
    width: 1280px;
    height: 100px;
    margin: auto;
    display: none;
}

  
.score-wrapper {
    width: 1280px;
    margin: auto;
    height: 50px;
    display: none;
    border: 2px solid black;
    /* border-bottom: none; */
    line-height: 50px;
    font-size: 20px;
    background-color: #2783da;
    font-family: SuperMario256;
    color: #ffffff;
    /* color:black; */
}
  
.life-count {
    background: url('../images/mario-head.png') left center no-repeat;
    width: 100px;
    float: left;
    padding-left: 40px;
}
  
.coin-score {
    background: url('../images/coin.png') left center no-repeat;
    width: 150px;
    float: left;
    padding-left: 40px;
}
  
.level-num {
    width: 150px;
    float: left;
}
  
.total-score {
    float: left;
}